
<div gantt
     data="$runtime.getAttribute("data")"
     timespans="$runtime.getAttribute("timespans")"
     show-side="$runtime.getAttribute("show-side")"
     daily="$runtime.getAttribute("daily")"
     filter-task="$runtime.getAttribute("filter-task")"
     filter-row="$runtime.getAttribute("filter-row")"
     view-scale="$runtime.getAttribute("view-scale")"
     column-width="$runtime.getAttribute("column-width")"
     auto-expand="$runtime.getAttribute("auto-expand")"
     task-out-of-range="$runtime.getAttribute("task-out-of-range")"
     from-date = "$runtime.getAttribute("from-date")"
     to-date = "$runtime.getAttribute("to-date")"
     allow-side-resizing = "$runtime.getAttribute("allow-side-resizing")"
     task-content = "$runtime.getAttribute("task-content")"
     row-content = "$runtime.getAttribute("row-content")"
     current-date="$runtime.getAttribute("current-date")"
     current-date-value="$runtime.getAttribute("current-date-value")"
     headers="$runtime.getAttribute("headers")"
     max-height="$runtime.getAttribute("max-height")"
     time-frames="$runtime.getAttribute("time-frames")"
     date-frames="$runtime.getAttribute("date-frames")"
     time-frames-working-mode="$runtime.getAttribute("time-frames-working-mode")"
     time-frames-non-working-mode="$runtime.getAttribute("time-frames-non-working-mode")"
     time-frames-magnet="$runtime.getAttribute("time-frames-magnet")"
     api="$runtime.getAttribute("api")"
     column-magnet="$runtime.getAttribute("column-magnet")">
 
